{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajouter une catégorie :</h1>
    <form method="post">
        <label for="libelle">Nom: </label>
        <input type="text" name="libelle" placeholder="Nom de la catégorie">
       <label for="code">Code: </label>
        <input type="text" name="code" placeholder="Code de la catégorie">
     
        <input type="submit" value="Ajouter la catégorie">
    </form>

{% endblock %}